variables:
   
   IMAGE_NAME: "bassem001/tester_myb"  # Docker Hub registry
   DOCKERFILE_PATH: src/services/user-manager/Myb.UserManager/Dockerfile

stages:
  - build

build:
  stage: build
  image: docker:25.0.0-cli
  services:
    - docker:25.0.0-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"  
  before_script:
    - echo "Running build stage"
    - docker login -u $REGISTRY_USER -p $DOCKER_TOKEN $DOCKER_REGISTRY
  script:
      - echo "Building Docker image..."
    - docker build -t $IMAGE_NAME:$CI_COMMIT_SHORT_SHA -f $DOCKERFILE_PATH .

    - echo "Pushing Docker image to GitLab container registry..."
    - docker push $IMAGE_NAME:$CI_COMMIT_SHORT_SHA

  artifacts:
    paths:
      - artifacts
  only:
    - master  
    