image: docker:26.1.4

services:
  - docker:26.1.4-dind

 

stages: 
  # - test
  - build
  - deploy

variables:
  SOLUTION_FILE: 'Myb.sln'
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""

before_script:
  - docker info

# test:
#   stage: test
#   image: mcr.microsoft.com/dotnet/sdk:8.0
#   script:
#     - dotnet test $SOLUTION_FILE  
build:
  stage: build
  # image: mcr.microsoft.com/dotnet/sdk:8.0
  script:
    # - dotnet restore $SOLUTION_FILE
    # - dotnet build $SOLUTION_FILE --configuration Release
    - docker build -t koutaibams1999/myb-usermanager:latest -f ./src/services/user-manager/Myb.UserManager/Dockerfile .
    - echo $DOCKER_PASSWORD | docker login --username $DOCKER_USERNAME --password-stdin
    - docker push koutaibams1999/myb-usermanager:latest




deploy:
  stage: deploy
  before_script:
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan 146.59.233.31 >> ~/.ssh/known_hosts
  script:
    - ssh ubuntu@146.59.233.31 "sudo docker pull koutaibams1999/myb-usermanager:latest && sudo docker stop myb-usermanager || true && sudo docker rm myb-usermanager || true && sudo docker run -d --name myb-usermanager -p 5000:5000 koutaibams1999/myb-usermanager:latest"
  only:
    - main