image: docker:26.1.4

services:
  - docker:26.1.4-dind


 

stages: 
  # - test
  - build
  - deploy

variables:
  SOLUTION_FILE: 'Myb.sln'
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""




before_script:
  - docker info

# test:
#   stage: test
#   image: mcr.microsoft.com/dotnet/sdk:8.0
#   script:
#     - dotnet test $SOLUTION_FILE  

build:
  stage: build
  # image: mcr.microsoft.com/dotnet/sdk:8.0
  script:
    # - dotnet restore $SOLUTION_FILE
    # - dotnet build $SOLUTION_FILE --configuration Release
    - |
      for service in $SERVICE; do
        docker build -t "$CI_REGISTRY_IMAGE/$service[name]:latest" -f "$service[directory]" .
        echo $DOCKER_PASSWORD | docker login --username $DOCKER_USERNAME --password-stdin
        docker push "$CI_REGISTRY_IMAGE/$service[name]:latest"
      done
  parallel:
    matrix:
      - SERVICE: 
          - UserManager:
                - name: myb-usermanager
                  directory: ./src/services/user-manager/Myb.UserManager/Dockerfile
          - TimeSheet:
                - name: TimeSheet
                  directory: ./src/services/time-sheet/Myb.Timesheet/Dockerfile
          - InvoiceService:
                - name: InvoiceService
                  directory: ./src/services/invoice-management/Myb.Invoice/Dockerfile
          - DocManager:
                - name: DocManager
                  directory: ./src/services/document-management/Myb.Document/Dockerfile




deploy:
  stage: deploy
  before_script:
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan 146.59.233.31 >> ~/.ssh/known_hosts
  script:
    - ssh ubuntu@146.59.233.31 "sudo docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD && sudo docker pull koutaibams1999/myb-usermanager:latest &&  sudo docker run -d --name myb-usermanager -p 8080:8080 koutaibams1999/myb-usermanager:latest"
  only:
    - main
