
stages:
  - pull_request
  - build
  - deploy

include:
  - local: .gitlab-ci-pr.yml
    rules:
      - if: $CI_PIPELINE_SOURCE == "merge_request_event"

  - local: .gitlab-ci-build.yml
    rules:
      - if: '$CI_BUILD == "build"'

  - local: .gitlab-ci-deploy.yml
    rules:
      - if: '$CI_COMMIT_BRANCH == "main"'
 

