image: mcr.microsoft.com/dotnet/sdk:8.0

stages:
  - build
  - test
  - deploy

variables:
  SOLUTION_FILE: 'Myb.sln'

build:
  stage: build
  script:
    - dotnet restore $SOLUTION_FILE
    - dotnet build $SOLUTION_FILE --configuration Release
  artifacts:
    paths:
      - 'bin/'

test:
  stage: test
  script:
    - dotnet test $SOLUTION_FILE 

deploy:
  stage: deploy
  script:
    - echo "Deploying to production server..."
  only:
    - main