image: docker:26.1.4

services:
  - docker:26.1.4-dind

 

stages: 
  # - test
  - build
  - deploy

variables:
  SOLUTION_FILE: 'Myb.sln'
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""

before_script:
  - docker info

# test:
#   stage: test
#   image: mcr.microsoft.com/dotnet/sdk:8.0
#   script:
#     - dotnet test $SOLUTION_FILE  
build:
  stage: build
  # image: mcr.microsoft.com/dotnet/sdk:8.0
  script:
    # - dotnet restore $SOLUTION_FILE
    # - dotnet build $SOLUTION_FILE --configuration Release
    - docker build -t koutaibams1999/myb-usermanager:latest .\src\services\user-manager\Myb.UserManager\Dockerfile
    - echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
    - docker push koutaibams1999/myb-usermanager:latest
  artifacts:
    paths:
      - 'bin/'



deploy:
  stage: deploy
  script:
    - echo "Deploying to production server..."
  only:
    - main