version: '3.8'

services:
  myb-usermanager:
    build:
      context: ./src/services/user-manager/Myb.UserManager
      dockerfile: Dockerfile
  TimeSheet:
    build:
      context: ./src/services/time-sheet/Myb.Timesheet
      dockerfile: Dockerfile
  DocManager:
    build:
      context: ./src/services/document-management/Myb.Document
      dockerfile: Dockerfile
  InvoiceService:
    build:
      context: ./src/services/invoice-management/Myb.Invoice
      dockerfile: Dockerfile
#   timesheetDB:
#     image: postgres:16.2
#     restart: always
#     environment:
#       POSTGRES_PASSWORD: timesheet-pwd
#       POSTGRES_DB: timesheetDB
#       POSTGRES_USER: postgres
#     ports:
#       - "5432:5432"
#     volumes:
#       - postgres_data:/var/lib/postgresql/timesheet/data
        
#   documentDB:
#     image: postgres:16.2
#     restart: always
#     environment:
#       POSTGRES_PASSWORD: document-pwd
#       POSTGRES_DB: documentDB
#       POSTGRES_USER: postgres
#     ports:
#       - "5433:5432"
#     volumes:
#       - postgres_document_data:/var/lib/postgresql/document/data
#   invoiceDB:
#     image: postgres:16.2
#     restart: always
#     environment:
#       POSTGRES_PASSWORD: invoice-pwd
#       POSTGRES_DB: invoiceDB
#       POSTGRES_USER: postgres
#     ports:
#       - "5434:5432"
#     volumes:
#       - postgres_invoice_data:/var/lib/postgresql/invoice/data

# volumes:
#   postgres_data:
#   postgres_document_data:
#   postgres_invoice_data:
